<!DOCTYPE html>
<head>
   <title>RPi Web Server</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<center>
   <h1>RPi Web Server</h1>
   <form action="random" method="get">
         <button type="submit">Random led</button>
   </form>
	<br>
	<br>
   <form action="led1" method="get">
         <button type="submit">Led 1</button>
	</form>
   <br>
   <br>
   <form action="led2" method="get">
         <button type="submit">Led 2</button>
	</form>
	<br>
	<br>
   <form action="led3" method="get">
         <button type="submit">Led 3</button>
   </form>
   <br>
   <br>
   <form action="shutdown" method="get">
         <button type="submit">Shut down</button>
   </form>
   </center>
</body>
</html>
